
    <div id= "page_bg"> 

    <% if @article.errors.any? %>
    <h2>The Following Errors Preveneted the Record from Being Saved</h2>

    <ul>
      <% @article.errors.full_messages.each do |msg| %>
    <li>  <%= msg %> </li>
    <% end %>
    </ul>
    <%  end %> 
    <h1 class= " text-center text-dark mt-4"> Create New Articles </h1>

    <%= render "form" %>




    </div>
