<% if @user.errors.any? %>
    <h2>The Following Errors Preveneted the Record from Being Saved</h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
    <li>  <%= msg %> </li>
    <% end %>
    </ul>
    <%  end %>  
 
 
 
 <h1 class= " text-center text-dark mt-4"> Sign Up for Alpha Blog</h1>

    <%= render "form" %>