@import 'bootstrap/dist/css/bootstrap';
.navbar {
    background-color: darkblue !important;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    font-size: 3rem;
}

h1 {
    color: red;
}

#logo {
    color: white;
}

