.navbar {
    background-color: darkblue !important;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    font-size: 3rem;
}

h1 {
    color: white;
}

#logo {
    color: white;
}

#home-container {
    margin-top: 25px;
    color: white;
}

.jumbotron {
    background-image: asset-url('image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

.FPFooter {
    background-color: darkblue !important;
    width: 100% !important;
}

#heading1 {
    color: darkblue;
}

#page_bg {
    background-color: lightgray !important;
}

.btns {
    color: white !important;
    text-decoration: none !important;
}