 <footer id="sticky-footer" class="flex-shrink-0 py-4  text-white-50 FPFooter" >
    <div class=" text-center FPFooter" 
      <small><b>Copyright &copy; Usama Bhatti Blog</b></small>
    </div>
  </footer>