<div class="container" id="home-container">
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Our Blog Section</h1>
  <p class="lead">Find the Latest Blogs to Read</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Read Articles</a>
  </p>
</div>
</div>